<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
    <% if !@user.memberships.empty? %>
        Member of <% @user.beer_clubs.each do |club| %>
            <%= link_to club.name, club %>
        <% end %>
    <% end %>
</p>

<% if !@user.ratings.empty? %>
    Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>

    <h3>ratings</h3>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li> <%= rating %> <%= link_to 'delete', rating, :method => :delete, data: { confirm: 'Are you sure?' } %> </li>
      <% end %>
    </ul>

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
