<p id="notice"><%= notice %></p>

<h2>
  <strong>Name:</strong>
  <%= @brewery.name %>
</h2>

<p>
  <i>Established at
    <%= @brewery.year %>
  </i>
</p>

<%= @brewery.beers.count %>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
